remotion-renderer/node_modules/
strapi-backend/node_modules/
strapi-backend/.strapi/
strapi-backend/.tmp/
strapi-backend/dist/*

# Cache and temp files
.cache/
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*